<ion-card>
  <ion-card-header color="light">
    <ion-card-title>Button Demo</ion-card-title>
    <ion-card-subtitle>Buttons are used to invoke actions</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <!-- Large -->
    <!-- <ion-item> -->
    <ion-label class="desktop-view">Large</ion-label>
    <!-- </ion-item> -->
    <ion-item class="desktop-view">
      <ion-button class="button-primary" size="large" id="0">Primary</ion-button>
      <ion-button class="button-primary" size="large" id="1">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Primary
      </ion-button>
      <ion-button class="button-primary" size="large" id="2">
        Primary <ion-icon slot="end" name="uxd-add"></ion-icon>
      </ion-button>
      <ion-button class="button-primary" size="large" id="3">
        <ion-icon slot="icon-only" name="uxd-add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="desktop-view">
      <ion-button class="button-secondary" size="large" id="4">Secondary</ion-button>
      <ion-button class="button-secondary" size="large" id="5">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Secondary
      </ion-button>
      <ion-button class="button-secondary" size="large" id="6">
        Secondary <ion-icon slot="end" name="uxd-add"></ion-icon>
      </ion-button>
      <ion-button class="button-secondary" size="large" id="7">
        <ion-icon slot="icon-only" name="uxd-add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="desktop-view">
      <ion-button disabled=true size="large" id="8">Disabled</ion-button>
      <ion-button disabled=true size="large" id="9">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Disabled
      </ion-button>
      <ion-button disabled=true size="large" id="10">
        Disabled <ion-icon slot="end" name="uxd-add"></ion-icon>
      </ion-button>
      <ion-button disabled=true size="large" id="11">
        <ion-icon slot="icon-only" name="uxd-add"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Medium -->
    <!-- <ion-item> -->
      <ion-label class="desktop-view">Medium</ion-label>
    <!-- </ion-item> -->
    <ion-item class="desktop-view">
      <ion-button class="button-primary" size="medium" id="12">Primary</ion-button>
      <ion-button class="button-primary" size="medium" id="13">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Primary
      </ion-button>
      <ion-button class="button-primary" size="medium" id="14">
        Primary <ion-icon slot="end" name="uxd-add"></ion-icon>
      </ion-button>
      <ion-button class="button-primary" size="medium" id="15">
        <ion-icon slot="icon-only" name="uxd-add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="desktop-view">
      <ion-button class="button-secondary" size="medium" id="16">Secondary</ion-button>
      <ion-button class="button-secondary" size="medium" id="17">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Secondary
      </ion-button>
      <ion-button class="button-secondary" size="medium" id="18">
        Secondary <ion-icon slot="end" name="uxd-add"></ion-icon>
      </ion-button>
      <ion-button class="button-secondary" size="medium" id="19">
        <ion-icon slot="icon-only" name="uxd-add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="desktop-view">
      <ion-button disabled=true size="medium" id="20">Disabled</ion-button>
      <ion-button disabled=true size="medium" id="21">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Disabled
      </ion-button>
      <ion-button disabled=true size="medium" id="22">
        Disabled <ion-icon slot="end" name="uxd-add"></ion-icon>
      </ion-button>
      <ion-button disabled=true size="medium" id="23">
        <ion-icon slot="icon-only" name="uxd-add"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Small -->
    <!-- <ion-item> -->
    <ion-label class="desktop-view">Small</ion-label>
    <!-- </ion-item> -->
    <ion-item class="desktop-view">
      <ion-button class="button-primary" size="small" id="24">Primary</ion-button>
      <ion-button class="button-primary" size="small" id="25">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Primary
      </ion-button>
      <ion-button class="button-primary" size="small" id="26">
        Primary <ion-icon slot="end" name="uxd-add"></ion-icon>
      </ion-button>
      <ion-button class="button-primary" size="small" id="27">
        <ion-icon slot="icon-only" name="uxd-add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="desktop-view">
      <ion-button class="button-secondary" size="small" id="28">Secondary</ion-button>
      <ion-button class="button-secondary" size="small" id="29">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Secondary
      </ion-button>
      <ion-button class="button-secondary" size="small" id="30">
        Secondary <ion-icon slot="end" name="uxd-add"></ion-icon>
      </ion-button>
      <ion-button class="button-secondary" size="small" id="31">
        <ion-icon slot="icon-only" name="uxd-add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="desktop-view">
      <ion-button disabled=true size="small" id="32">Disabled</ion-button>
      <ion-button disabled=true size="small" id="33">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Disabled
      </ion-button>
      <ion-button disabled=true size="small" id="34">
        Disabled <ion-icon slot="end" name="uxd-add"></ion-icon>
      </ion-button>
      <ion-button disabled=true size="small" id="35">
        <ion-icon slot="icon-only" name="uxd-add"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item class="mobile-view">
      <ion-button expand="block" class="button-primary" size="large" id="36">Primary</ion-button>
      <ion-button expand="block" class="button-primary" size="large" id="37">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Primary
      </ion-button>
    </ion-item>
    <ion-item class="mobile-view">
      <ion-button expand="block" class="button-secondary" size="large" id="38">Secondary</ion-button>
      <ion-button expand="block" class="button-secondary" size="large" id="39">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Secondary
      </ion-button>
    </ion-item>
    <ion-item class="mobile-view">
      <ion-button expand="block" disabled=true size="large" id="40">Disabled</ion-button>
      <ion-button expand="block" disabled=true size="large" id="41">
        <ion-icon slot="start" name="uxd-add"></ion-icon> Disabled
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>