img{
  width: 70px;
}
.wrapper {
  height: 100px;
  width: 100%;    
  background-color: #351c15;
  text-align: center;
  color: #F6C043;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
}
.ion-toolbar{
background-color: #351c15;
}    

.content {
  display: flex;
  flex-direction: row;
}
.content > article {
  flex: 4;
  min-height: 60vh;
}

body {
  font-family: sans-serif;
}
#container {
  display: flex;
  width: 500px;
  height: 540px;
  top: 1300px;
  margin: 0 auto;
  border: 2px solid #ccc;
}

.thisrow {
  display: flex;
}
.thisbox {
  background: yellowgreen;
  margin: 5px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  height: 100px;
  width: 100 px;
  text-align: center;
  visibility: hidden;
}

.blue-square {
background-color: yellowgreen;
width: 100px;
text-align: center;
color: white;
font-weight: bold;
margin: 0 auto;
height: 100px;
visibility: hidden;
}